/* FILE: CarouselComponent.css */
.carousel-image {
  max-height: 400px; 
  width: 100%;
  object-fit: cover; 
}
.carousel {
    margin-bottom: 30px; /* Adjust the spacing as needed */
  }

.carousel-caption-bg {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.carousel-button {
  margin-bottom: 10px; 
}