.card-img-top {
  height: 200px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensure the images cover the entire area while maintaining their aspect ratio */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}